@font-face{
    font-family: 'MainFont';
    src:url('Fonts/NotoSansJP-Thin.otf');
}
@font-face{
    font-family: 'MainFontBold';
    src:url('Fonts/NotoSansJP-Bold.otf');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    overflow: hidden;
    font-family: 'MainFont';
    padding-bottom: 10px;
    border-bottom: black 1px solid;
    margin: 2cm;
}
nav a{
    text-decoration: none;
    float: right;
    border: 3px #FA6161 solid;
    padding: 10px;
    border-radius:2cm;
}
nav a:hover{
    animation: ButtonHover 500ms;
    color:#ffffff;
    background-color: #FA6161 ;
}
@keyframes ButtonHover{
    from{
        color: black;
        background-color: #fa616100 ;
    }
    to{
        color:#ffffff;
        background-color: #FA6161 ;
    }
}
main{
    height:10cm;
    border-left: 2px black solid;
    font-family: 'MainFont';
    border-right: 2px black solid;
    margin: 2cm;
    margin-bottom: 0;
    align-content: center;
}
main h1{
    text-align: center;
    text-decoration: underline;
}
main img{
    position: relative;
    right:2cm;
    width: 20%;
    float: right;
    transition: transform .2s;
}
main img:hover{
    transform: scale(1.1);
}
main p{
    float: left;
    width: 60%;
    position: relative;
    left: 2cm;
    margin-left: 1cm;
    margin-top: 2cm;
}
.coloured{
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: #FA6161 ;
    height: 15cm;
    border-radius: 5mm;
}
.box{
    display:inline-block;
    text-align: center;
    font-family: 'MainFont';
    top: 50mm;
    width: 30%;
    height: 12cm;
    margin-left: 2cm;
    background-color: #FA6161 ;
    box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.425);
    border-radius: 5mm;
    vertical-align: top;

}
.box1{
    display:inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'MainFont';
    width: 80%;
    height: 9cm;
    background-color: #ffffff ;
    box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.425);
    border-radius: 5mm;
    padding: 1cm;
    box-sizing: border-box;

}
.box h1{
    color: blanchedalmond;
}
.Heading{
    position: relative;
    top: 1cm;
    font-family: 'MainFont';
    color: blanchedalmond;
    text-align: center;
    text-decoration: underline;
    z-index: 3;
}

img{
   transition: transform .2s;
}
img:hover{
   transform: scale(1.3);

}
section{
   transition: transform .2s;
}
section:hover{
   transform: scale(1.05);
} 
#Page3
{
    margin-top: 1cm;
    width: 100%;
    margin-right: 5cm;
    margin-left: 5cm;
    align-content: center;
    display: flex;
}
.Aboutdesc{
    position: relative;
    top: 2cm;
    margin: 1cm;
    text-align: center;
    width: 40%;
    transition: transform .2s;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.425);
    border-radius: 1cm;
    padding: 1cm;
    font-family: 'MainFont';
}
.Aboutdes:hover{
    transform: scale(1.1);
}
#ProfileShot{
    float: right;
    width: 24%;
    margin: 1cm;
    margin-right: 4cm;
    padding: 20px;
    background-color: white;
    position: relative;
    bottom: 6.2cm;
    box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.425);
    border-radius: 1cm;
}
ul,li{
    list-style: none;
    margin: 0cm;
    list-style-image: none;
    line-break: loose;
    object-fit: cover;
}